__pycache__/
*.py[cod]
venv/
.venv/
.env
data/*
!data/**/*.dvc
!data/**/.gitignore
!data/**/.gitkeep
!data/**/*.csv
models/
.ipynb_checkpoints
mlruns/
mlartifacts/
.trash/

# MLflow
*.db
*.db-shm
*.db-wal
optimize.log

# Airflow
airflow/logs/
airflow/__pycache__/
airflow/dags/__pycache__/

# Docker volumes
postgres-db-volume/
mlflow-db-volume/